.icon-choice {
    display: inline-block;
    margin: 10px;
    cursor: pointer;
}

.upload-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.upload-container:hover .overlay{
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-color: black;
    display: none;
}
.overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}
.overlay-content i {
    font-size: 48px;
}

.app-btn {
    display: inline-block;
    padding: 5px;
    margin: 10px;
    text-align: center;
    #box-shadow: 0 13px 46px rgb(43 38 60 / 11%);
    background-color: rgba(59,55,83,0.8)!important;
    border-radius: 10px;
    width: 161px;
    height: 161px;
    background-color: #fff;
}

.iconpicker * {
    box-sizing: content-box !important;
}

.iconpicker-popover.popover {
    max-width: 100% !important;
    width: 100% !important;
    background: none !important;
}
.iconpicker-popover.popover .popover-title{
    background: none !important;
    border: none !important;
}

/* Force height of CKEditor */
.ck-editor__editable {
    height: 300px !important;
    min-height: unset !important;
}

.image {
  margin-bottom: 20px; /* add space after image */
  display: block; /* center image */
  margin-left: auto;
  margin-right: auto;
}

ul {
    display: inline-block;
    list-style-position: inside !important
}

/* Avatar xxl */
.avatar-xxl {
  width: 10rem;
  height: 10rem; }
  @media (max-width: 991.98px) {
    .avatar-xxl {
      width: 6rem;
      height: 6rem; } }

.fc-popover .choices-dropdown {
  display: inline-block !important;
}
.choices__list--dropdown {
  z-index: 9999 !important;
}

/* FULL CALENDAR UPDATE */
@media (max-width: 768px) {
  #calendar {
    width: 100%;
  }
}

.fc .fc-button .fc-icon {
  font-size: 14px;
}

.fc .fc-button .fc-button-text {
  display: none;
}

/* Calendar header title size */
.fc .fc-toolbar-title {
  font-size: 1.2rem; /* Change the value to your desired font size */
}

.fc-today-button::before {
  font-family: 'Font Awesome 6 Free'; /* Or 'Font Awesome 6 Free', depending on the version you are using */
  content: "\f133"; /* Unicode value for the desired FontAwesome icon (e.g., \f073 for the 'calendar' icon) */
  font-weight: 900; /* Adjust the font weight based on the FontAwesome version you are using (900 for the solid style) */
  font-size: 16px; /* Adjust the font size as needed */
  vertical-align: middle;
}