<!-- START Add Lang Modal -->
<div class="modal fade" id="add-lang" tabindex="-1"
     aria-labelledby="add-lang"
     style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">

        <div class="modal-content">
            <form action="" method="POST" id="add-lang-form">
                <div class="modal-header">
                    <h2 class="h6 modal-title">{{ _('Add Language') }}</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <select id="lang-select" class="w-100">
                    </select>
                </div>
                <div class="modal-footer">
                    <a type="button" class="btn btn-link text-gray-600"
                       data-bs-dismiss="modal">
                        {{ _('Close')}}
                    </a>
                    <input type="submit" class="btn btn-primary ms-auto" value="{{_('Add')}}">
                </div>
            </form>

        </div>

    </div>
</div>

<script>
    const choices = new Choices('#lang-select', {});
</script>
<!-- END Add Lang Modal -->