{% macro render_modal_info(id, title, content) %}
<div class="modal fade" id="{{ id }}" tabindex="-1" aria-labelledby="{{ id }}"
     style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="h6 modal-title">{{ title }}</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-4">
                {{ content }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link text-gray-600 ms-auto" data-bs-dismiss="modal">
                    {{_('Close')}}
                </button>
            </div>
        </div>
    </div>
</div>
{% endmacro %}

{% macro render_modal_confirm(id, title, content, submit, url) %}
<div class="modal fade" id="{{ id }}" tabindex="-1" aria-labelledby="{{ id }}"
     style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="h6 modal-title">{{ title }}</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-4">
                {{ content }}
            </div>
            <div class="modal-footer">
                <a class="btn btn-danger" href="{{ url }}">{{ submit }}</a>
                <button type="button" class="btn btn-link text-gray-600 ms-auto" data-bs-dismiss="modal">
                    {{_('Close')}}
                </button>
            </div>
        </div>
    </div>
</div>
{% endmacro %}

{% macro render_modal_form(id, title, content, submit) %}
<div class="modal fade" id="{{ id }}" tabindex="-1" aria-labelledby="{{ id }}"
     style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form action="" method="POST" id="{{ id }}-form">
                <div class="modal-header">
                    <h2 class="h6 modal-title">{{ title }}</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body p-4">
                    {{ content }}
                </div>
                <div class="modal-footer">
                    {{ submit }}
                    <button type="button" class="btn btn-link text-gray-600 ms-auto" data-bs-dismiss="modal">
                        {{_('Close')}}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endmacro %}

{% macro event_modal_form(form) %}
<!-- Edit event modal -->
<div class="modal fade" id="modal-edit-event" tabindex="-1" role="dialog" aria-labelledby="modal-edit-event"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <form id="editEventForm" class="modal-content" method="POST">
            <div class="modal-body">
                {{ form.csrf_token }}
                {{ form.id }}
                <div class="mb-4">
                    {{ form.title.label }} <a data-bs-toggle="popover" data-bs-title="{{ _('Original Title')}}"
                                              data-bs-placement="top"
                                              id="{{ form.title.id }}-tooltip"><i
                        class="fa fa-info-circle ml-1"></i></a>
                    {{ form.title(class='form-control') }}
                    <small id="{{ form.title.id }}-help" class="form-text text-muted">
                        {{ form.title.description }}
                    </small>
                    <div id="{{ form.title.id }}-error" class="invalid-feedback d-block">
                        {{ form.title.errors | first }}
                    </div>
                </div>
                <div class="mb-4">
                    {{ form.attendee.label }}
                    {% if current_user.role.name == 'USER' %}
                    {{ form.attendee(class='form-control', readonly=True) }}
                    {% else %}
                    {{ form.attendee(class='form-control') }}
                    {% endif %}
                    <small id="{{ form.attendee.id }}-help" class="form-text text-muted">
                        {{ form.attendee.description }}
                    </small>
                    <div id="{{ form.attendee.id }}-error" class="invalid-feedback d-block">
                        {{ form.attendee.errors | first }}
                    </div>
                </div>
                <div class="mb-4">
                    {{ form.description.label }} <a data-bs-toggle="popover" data-bs-placement="top"
                                                    data-bs-title="{{ _('Original Description')}}"
                                                    id="{{ form.description.id }}-tooltip"><i
                        class="fa fa-info-circle ml-1"></i></a>
                    {{ form.description(class='form-control') }}
                    <small id="{{ form.description.id }}-help" class="form-text text-muted">
                        {{ form.description.description }}
                    </small>
                    <div id="{{ form.description.id }}-error" class="invalid-feedback d-block">
                        {{ form.description.errors | first }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <div class="mb-4">
                            <div class="input-group">
                                            <span class="input-group-text">
                                                <i class="text-gray-400 fa fa-calendar"></i>
                                            </span>
                                {{ form.start_date(class='form-control') }}
                            </div>
                            <small id="{{ form.start_date.id }}-help" class="form-text text-muted">
                                {{ form.start_date.description }}
                            </small>
                            <div id="{{ form.start_date.id }}-error" class="invalid-feedback d-block">
                                {{ form.start_date.errors | first }}
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="mb-4">
                            <div class="input-group">
                                            <span class="input-group-text">
                                                <i class="text-gray-400 fa fa-calendar"></i>
                                            </span>
                                {{ form.end_date(class='form-control') }}
                            </div>
                            <small id="{{ form.end_date.id }}-help" class="form-text text-muted">
                                {{ form.end_date.description }}
                            </small>
                            <div id="{{ form.end_date.id }}-error" class="invalid-feedback d-block">
                                {{ form.end_date.errors | first }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-4">
                    <label>{{ _('Location') }}</label>
                    <div>
                        <i class="fa fa-location-dot me-2"></i><a id="eventLocationEdit" class="small"
                                                                  target="_blank"></a>
                    </div>
                </div>
                <div id="eventTasks">
                    {{ form.task.label }}
                    <div>
                        <ul id="taskList" class="list-group mb-3 task-list">
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <span class="task-text flex-grow-1">Task 1</span>
                                <a href="#" class="task-action me-3"><i class="fas text-success fa-check"></i></a>
                                <a href="#" class="task-action"><i class="fas text-danger fa-xmark"></i></a>
                            </li>
                        </ul>
                        <div class="input-group">
                            {{ form.task(class="form-control") }}
                            <a id="addTaskBtn" class="input-group-text"><i class="fa fa-sm fa-plus"></i></a>
                        </div>
                    </div>
                </div>
                <!--<div id="map" style="height: 200px;"></div>-->
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-gray-800 me-2" id="editEvent">Update event</button>
                <button type="submit" class="btn btn-danger" id="deleteEvent">Delete event</button>
                <button type="button" class="btn btn-link text-gray ms-auto" data-bs-dismiss="modal">Close</button>
            </div>
        </form>
    </div>
</div>
{% endmacro %}
