<!-- Core Libs -->
<script src="{{ config.ASSETS_ROOT }}/vendor/@popperjs/core/dist/umd/popper.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/vendor/bootstrap/dist/js/bootstrap.min.js"></script>


<!-- Plugins -->
<script src="{{ config.ASSETS_ROOT }}/vendor/onscreen/dist/on-screen.umd.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/vendor/nouislider/distribute/nouislider.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/vendor/countup.js/dist/countUp.umd.js"></script>
<script src="{{ config.ASSETS_ROOT }}/vendor/apexcharts/dist/apexcharts.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/vendor/vanillajs-datepicker/dist/js/datepicker.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/vendor/simple-datatables/dist/umd/simple-datatables.js"></script>
<script src="{{ config.ASSETS_ROOT }}/vendor/sweetalert2/dist/sweetalert2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/vendor/vanillajs-datepicker/dist/js/datepicker.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/node_modules/fullcalendar/index.global.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/node_modules/ical.js/build/ical.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/node_modules/@fullcalendar/icalendar/index.global.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/vendor/dropzone/dist/min/dropzone.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/vendor/choices.js/public/assets/scripts/choices.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/vendor/notyf/notyf.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/vendor/leaflet/dist/leaflet.js"></script>
<script src="{{ config.ASSETS_ROOT }}/vendor/svg-pan-zoom/dist/svg-pan-zoom.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/vendor/svgmap/dist/svgMap.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/vendor/simplebar/dist/simplebar.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/vendor/sortablejs/Sortable.min.js"></script>


<script async defer src="https://buttons.github.io/buttons.js"></script>

<!-- Custom JS -->
<script src="{{ config.ASSETS_ROOT }}/js/custom.js"></script>

<!-- Volt JS -->
<script src="{{ config.ASSETS_ROOT }}/js/volt.js"></script>

<!-- JQuery -->
<script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>

<!-- fontawesome icon picker jquery -->
<script src="{{ config.ASSETS_ROOT }}/vendor/fontawesome-iconpicker-master/dist/js/fontawesome-iconpicker.min.js"></script>

<!-- Color Picker jquery -->
<script src="{{ config.ASSETS_ROOT }}/node_modules/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>

<!-- CKEDITOR -->
<script src="{{ config.ASSETS_ROOT }}/vendor/ckeditor5-36.0.1/build/ckeditor.js"></script>


<!-- tagify -->
<script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify"></script>
<script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.polyfills.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.css" rel="stylesheet" type="text/css"/>

<!-- MapBox -->
<script src="https://unpkg.com/@mapbox/mapbox-sdk/umd/mapbox-sdk.min.js"></script>
<script src='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js'></script>
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>
<script id="search-js" defer="" src="https://api.mapbox.com/search-js/v1.0.0-beta.16/web.js"></script>
<script src="https://api.mapbox.com/search-js/v1.0.0-beta.13/core.js"></script>

<!-- Country Select -->
<script src="/static/assets/vendor/country-select-js-master/build/js/countrySelect.min.js">
</script>




