<table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%"
       style="margin: auto;">
    <tr>
        <td valign="middle" class="bg_light footer email-section">
            <table>
                <tr>
                    <td valign="top" width="50%" style="padding-top: 20px;">
                        <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tr>
                                <td style="text-align: left; padding-right: 10px;">
                                    <h3 class="heading">{{_('About')}}</h3>
                                    <p>{{ _('EventHub est une plateforme de gestion de calendriers de
                                        réservation de locations saisonnières.')}}</p>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td valign="top" width="50%" style="padding-top: 20px;">
                        <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tr>
                                <td style="text-align: left; padding-left: 15px; padding-right: 5px;">
                                    <h3 class="heading">{{ _('Contact Info')}}</h3>
                                    <ul>
                                        <li><span class="text">contact@dataik.com</span></li>
                                        <li><span class="text">+33 (0)6 77 93 91 14</span></a></li>
                                    </ul>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>