{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Element CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="py-4">
    <button class="btn btn-gray-800 d-inline-flex align-items-center me-2" data-bs-toggle="modal"
            data-bs-target="#add-calendar">
        <i class="fa fa-plus me-2"></i>
        {{ _('Add Property') }}

    </button>
</div>
<div class="row">
    <div class="col-12 mb-3">
        <div class="card card-body shadow border-0 table-wrapper table-responsive">
            <table class="table table-hover align-items-center">
                <tr class="d-none d-sm-table-row">
                    <th class="border-bottom col">{{ _('Name') }}</th>
                    <th class="border-bottom col-auto">{{ _('Active') }}</th>
                    <th class="border-bottom col-auto">{{ _('Delete') }}</th>
                </tr>

                {% for calendar in data.calendars %}

                <tr>
                    <td class="col-9">
                        <a href="{{ url_for('home_blueprint.calendar_edit', calendar_id=calendar.id) }}"
                           class="d-flex align-items-center">

                            <div class="d-block">
                                <span class="fw-bold">{{ calendar.name }}</span>
                                <div class="small text-gray text-wrap">{{ calendar.description if calendar.description }}</div>

                            </div>
                        </a>
                    </td>
                    <td class="col-auto">
                        <div class="form-check form-switch">
                            <input class="form-check-input" {% if calendar.active %}checked{% endif %}
                                   type="checkbox"
                                   name="active" calendar_id="{{ calendar.id }}">
                        </div>
                    </td>
                    <td class="col-auto text-danger">
                        <a class="d-inline-flex align-items-center me-2" data-bs-toggle="modal"
                           data-bs-target="#delete-calendar">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>

                </tr>
                <!-- Delete Calendar Modal -->
                {% set modal_content %}
                {{ _('Are you sure you want to delete {name} ?').format(name=calendar.name) }}
                {% endset %}
                {{ macros.render_modal_confirm('delete-calendar', _('Delete Calendar'), modal_content,
                _('Confirm'), url_for('home_blueprint.calendar_delete', calendar_id=calendar.id)) }}
                {% endfor %}
            </table>


            {% set modal_content %}
            {{ form.csrf_token }}
            <div class="mb-4">
                <div class="col-12">
                    {{ form.name.label }}
                    {{ form.name(class="form-control") }}
                    <small id="{{ form.name.id }}-help" class="form-text text-muted">{{
                        form.name.description }}</small>
                    <div id="{{ form.name.id }}-error" class="invalid-feedback d-block">{{
                        form.name.errors | first }}
                    </div>
                </div>
            </div>
            <div class="mb-4">
                <div class="col-12">
                    {{ form.description.label }}
                    {{ form.description(class="form-control") }}
                    <small id="{{ form.description.id }}-help" class="form-text text-muted">{{
                        form.description.description }}</small>
                    <div id="{{ form.description.id }}-error" class="invalid-feedback d-block">
                        {{
                        form.description.errors | first }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="mb-4">
                        {{ form.checkin_time.label }}

                        {{ form.checkin_time(class="form-control") }}
                        <small id="{{ form.checkin_time.id }}-help" class="form-text text-muted">{{
                            form.checkin_time.description }}</small>
                        <div id="{{ form.checkin_time.id }}-error" class="invalid-feedback d-block">
                            {{
                            form.checkin_time.errors | first }}
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="mb-4">
                        {{ form.checkout_time.label }}

                        {{ form.checkout_time(class="form-control") }}
                        <small id="{{ form.checkout_time.id }}-help" class="form-text text-muted">{{
                            form.checkout_time.description }}</small>
                        <div id="{{ form.checkout_time.id }}-error" class="invalid-feedback d-block">
                            {{
                            form.checkout_time.errors | first }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-4">
                {{ form.street.label }}
                {% if form.street.errors %}
                {{ form.street(class="form-control is-invalid", autocomplete="address-line1") }}
                {% else %}
                {{ form.street(class="form-control", autocomplete="address-line1") }}
                {% endif %}

                <small id="{{ form.street.id }}-help" class="form-text text-muted">{{ form.street.description
                    }}</small>
                <div id="{{ form.street.id }}-error" class="invalid-feedback">{{ form.street.errors | first
                    }}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <div class="mb-4">
                        {{ form.zip.label }}
                        <div class="input-group">
                            {% if form.zip.errors %}
                            {{ input(class="form-control is-invalid", autocomplete="postal-code") }}
                            {% else %}
                            {{ form.zip(class="form-control", autocomplete="postal-code") }}
                            {% endif %}
                        </div>
                        <small id="{{ form.zip.id }}-help" class="form-text text-muted">{{ form.zip.description
                            }}</small>
                        <div id="{{ form.zip.id }}-error" class="invalid-feedback">{{ form.zip.errors | first
                            }}
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-sm-6">
                    <div class="mb-4">
                        {{ form.city.label }}

                        {% if form.city.errors %}
                        {{ input(class="form-control is-invalid", autocomplete="address-level2") }}
                        {% else %}
                        {{ form.city(class="form-control", autocomplete="address-level2") }}
                        {% endif %}

                        <small id="{{ form.city.id }}-help" class="form-text text-muted">{{ form.city.description
                            }}</small>
                        <div id="{{ form.city.id }}-error" class="invalid-feedback">{{ form.city.errors | first
                            }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-4">
                {{ form.country.label }}
                <div class="input-group">
                    {% if form.country.errors %}
                    {{ input(class="form-control is-invalid") }}
                    {% else %}
                    {{ form.country(class="form-control") }}
                    {% endif %}
                    {{ form.country_code(type="hidden", autocomplete="country") }}

                </div>
                <small id="{{ form.country.id }}-help" class="form-text text-muted">{{ form.country.description
                    }}</small>
                <div id="{{ form.country.id }}-error" class="invalid-feedback">{{ form.country.errors | first
                    }}
                </div>
            </div>
            {% endset %}
            {{ macros.render_modal_form('add-calendar', _('Add Property'), modal_content,
            form.submit(class="btn btn-primary")) }}
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Element JS goes HERE  -->
{% block javascripts %}
<script>
    /* If there is errors in the add calendar form then we show the modal */
    {% if form.errors %}
        $(window).on('load', function() {
            $('#add-calendar').modal('show');
        });
    {% endif %}

    const token = '{{ config.MAPBOX_TOKEN }}';
    const country = initializeCountrySelect('country');
    initializeAutofill(token, 'country');
    $(document).ready(function() {

        $('.form-check-input').change(function() {

            var calendarID=$(this).attr('calendar_id');
            var attr=$(this).attr('name');
            var value=$(this).prop('checked');

            $.ajax({
                type: 'POST',
                url: '{{ url_for("home_blueprint.calendar_update") }}',
                data: {
                    attr: attr,
                    value: value,
                    calendar_id: calendarID,
                },
                success: function(data) {
                    //console.log('QR Code geolocation updated.');
                },
                error: function(xhr, status, error) {
                    console.error(error);
                }
            });
        });


    });









</script>
{% endblock javascripts %}
