{% extends "layouts/base.html" %}

{% block title %} Calendar {% endblock %}

<!-- Specific Element CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
    <div class="col-3">
        {% if current_user.role.name == 'ADMIN' or current_user.role.name == 'EDITOR' %}
        <select id="attendees" class="w-100" name="attendees">
            {% for user in attendees %}
            <option value="{{user }}" {% if user == current_user.email %}selected{% endif %}>{{ user }}</option>
            {% endfor %}
        </select>
        {% endif %}
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-sm btn-outline-gray-600">Share</button>
        <a type="button" class="btn btn-sm btn-outline-gray-600"
           href="{{ url_for('home_blueprint.calendar_export_ics', attendees=[current_user.email]) }}">Export</a>

    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card border-0 shadow mb-4">
            <div id="calendar" class="p-4"></div>
        </div>
    </div>
</div>


<!-- Add event modal -->
<div class="modal fade" id="modal-new-event" tabindex="-1" role="dialog" aria-labelledby="modal-new-event"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <form id="addNewEventForm" class="modal-content">
            <div class="modal-body">
                <div class="mb-4">
                    <label for="eventTitle">Event title</label>
                    <input type="text" class="form-control" id="eventTitle" required>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <div class="mb-4">
                            <label for="dateStart">Select start date</label>
                            <div class="input-group">
                                    <span class="input-group-text">
                                        <svg class="icon icon-xs" fill="currentColor" viewBox="0 0 20 20"
                                             xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd"
                                                                                      d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
                                                                                      clip-rule="evenodd"></path></svg>
                                    </span>
                                <input data-datepicker="" class="form-control" id="dateStart" type="text"
                                       placeholder="dd/mm/yyyy" required>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="mb-2">
                            <label for="dateEnd">Select end date</label>
                            <div class="input-group">
                                    <span class="input-group-text">
                                        <svg class="icon icon-xs" fill="currentColor" viewBox="0 0 20 20"
                                             xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd"
                                                                                      d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
                                                                                      clip-rule="evenodd"></path></svg>
                                    </span>
                                <input data-datepicker="" class="form-control" id="dateEnd" type="text"
                                       placeholder="dd/mm/yyyy" required>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-gray-800" id="addNewEvent">Add new event</button>
                <button type="button" class="btn btn-gray-300 ms-auto" data-bs-dismiss="modal">Close</button>
            </div>
        </form>
    </div>
</div>

{{ macros.event_modal_form(event_form) }}

{% endblock content %}

<!-- Specific Element JS goes HERE  -->
{% block javascripts %}
<script>
    var mycalendar;

     function refetchEventsForAttendee(email) {
      // Remove the existing event sources
      mycalendar.getEventSources().forEach(function(source) {
        source.remove();
      });

      // Add a new event source with the new URL
      mycalendar.addEventSource({
        url: "{{ url_for('home_blueprint.calendar_events_json') }}?attendees=" + email,
        method: 'GET'
      });
    }


    $(document).ready(function() {
        var events = [
            {
                url: "{{ url_for('home_blueprint.calendar_events_json', attendees=current_user.email) }}",
            }
        ];
        mycalendar = renderCalendar('calendar', events);

        // Add event listener to attendees select element
        var selectAttendeesInputEl = document.querySelector('#attendees');
        if (selectAttendeesInputEl) {
            selectAttendeesInputEl.addEventListener('change', function() {
                // Define a function to remove the existing events source and add a new one
                refetchEventsForAttendee(this.value);
            });
        }


        // Choices.js
        var selectAttendeesInputEl = d.querySelector('#attendees');
        if (selectAttendeesInputEl) {
            const choices = new Choices(selectAttendeesInputEl);
        }

    });
</script>
{% endblock javascripts %}
