{% extends "layouts/base.html" %}

{% block title %} Property {% endblock %}

<!-- Specific Element CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
    <div class="col-md-3 col-7">
        {% if current_user.role.name in ['ADMIN', 'EDITOR'] %}
        <select id="attendees" class="w-100" name="attendees">
            <option value="all,all">{{ _('All')}}</option>
            {% for user in users %}
            <option value="{{ user.email }},{{ user.uuid }}">{{ user.email }}</option>
            {% endfor %}
        </select>
        {% endif %}
    </div>
    <div class="btn-group">
        <button type="button" id="share-button"  class="btn btn-sm btn-outline-gray-600 {% if current_user.role.name in ['ADMIN', 'EDITOR'] %}disabled{% endif %}" data-bs-toggle="modal"
                data-bs-target="#share-calendar">
            {{ _('Ical') }}
        </button>
        <a type="button" id="export-button" class="btn btn-sm btn-outline-gray-600 {% if current_user.role.name in ['ADMIN', 'EDITOR'] %}disabled{% endif %}"
           href="{{ url_for('home_blueprint.calendar_export_ics', attendees=[current_user.uuid]) }}">{{ _('Download') }}</a>
    </div>
</div>
{% set modal_content %}
<div class="row">
    <p>{{ _('Copy the ical address to your favorite calendar tool to keep all your calendar at the same place.')}}</p>
    <div class="d-flex mb-3 justify-content-center input-group">
        <input type="text" class="form-control" id="share-link" readonly
               value="{{ url_for('home_blueprint.calendar_export_ics', attendees=[current_user.uuid], _external=True, _scheme='https') }}">
        <button type="button" onclick="copy_to_clipboard()"
                class="btn btn-block btn-secondary">{{_('Copy')}}
        </button>
    </div>
</div>
{% endset %}
{{ macros.render_modal_info('share-calendar', _('Share Calendar'), modal_content) }}

<div class="row">
    <div class="col-12">
        <div class="card border-0 shadow mb-4">
            <div id="calendar" class="p-4"></div>
        </div>
    </div>
</div>


<!-- Add event modal -->
<div class="modal fade" id="modal-new-event" tabindex="-1" role="dialog" aria-labelledby="modal-new-event"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <form id="addNewEventForm" class="modal-content">
            <div class="modal-body">
                <div class="mb-4">
                    <label for="eventTitle">Event title</label>
                    <input type="text" class="form-control" id="eventTitle" required>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <div class="mb-4">
                            <label for="dateStart">Select start date</label>
                            <div class="input-group">
                                    <span class="input-group-text">
                                        <svg class="icon icon-xs" fill="currentColor" viewBox="0 0 20 20"
                                             xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd"
                                                                                      d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
                                                                                      clip-rule="evenodd"></path></svg>
                                    </span>
                                <input data-datepicker="" class="form-control" id="dateStart" type="text"
                                       placeholder="dd/mm/yyyy" required>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="mb-2">
                            <label for="dateEnd">Select end date</label>
                            <div class="input-group">
                                    <span class="input-group-text">
                                        <svg class="icon icon-xs" fill="currentColor" viewBox="0 0 20 20"
                                             xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd"
                                                                                      d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
                                                                                      clip-rule="evenodd"></path></svg>
                                    </span>
                                <input data-datepicker="" class="form-control" id="dateEnd" type="text"
                                       placeholder="dd/mm/yyyy" required>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-gray-800" id="addNewEvent">Add new event</button>
                <button type="button" class="btn btn-gray-300 ms-auto" data-bs-dismiss="modal">Close</button>
            </div>
        </form>
    </div>
</div>

{{ macros.event_modal_form(event_form) }}

{% endblock content %}

<!-- Specific Element JS goes HERE  -->
{% block javascripts %}
<script>
    (function () {
        const user = {{ current_user.to_json() | safe }};
        const urlParams = new URLSearchParams(window.location.search);
        const eventId = urlParams.get('event_id');

        function initCalendar() {
            var events = [
                {
                    url: "{{ url_for('home_blueprint.events_json', attendees=(current_user.email if current_user.role.name == 'USER' else None)) }}",
                },

            ];

            calendar = renderCalendar('calendar', events, user);

            {% if event %}
            calendar.gotoDate('{{ event.start_date }}');
            var checkEventInterval = setInterval(function() {
              var event = calendar.getEventById(eventId);
              console.log(event);
              if (event) {
                clearInterval(checkEventInterval);
                openEditEventModalById(event.id);
              }
            }, 500); // check every 500ms

            {% endif %}
        }


         function refetchEventsForAttendee(email) {
            calendar.getEventSources().forEach((source) => source.remove());
            const url = email !== 'all' ? `{{ url_for('home_blueprint.events_json') }}?attendees=${email}` : "{{ url_for('home_blueprint.events_json') }}";

            calendar.addEventSource({
              url,
              method: 'GET',
            });
          }



        function updateExportLink(uuid) {
            const exportButton = document.querySelector('#export-button');
            const sharedURL = document.querySelector('#share-link');
            const sharedButton = document.querySelector('#share-button');
            const baseUrl = "{{ url_for('home_blueprint.calendar_export_ics', _external=True, _scheme='https') }}";
            const url = uuid !== 'all' ? `${baseUrl}?attendees=${uuid}` : baseUrl;
            exportButton.href = url;
            sharedURL.value = url;
            console.log(uuid);
            if (uuid !== 'all'){
                sharedButton.classList.remove('disabled');
                exportButton.classList.remove('disabled');
            }
            else {
                exportButton.classList.add('disabled');
                sharedButton.classList.add('disabled');
            }
          }

        function initEventListeners(selectAttendeesInputEl) {
            selectAttendeesInputEl.addEventListener('change', function () {
              const [email, uuid] = this.value.split(',');
              refetchEventsForAttendee(email);
              updateExportLink(uuid);
            });
          }

       document.addEventListener('DOMContentLoaded', () => {
        const selectAttendeesInputEl = document.querySelector('#attendees');

        if (selectAttendeesInputEl) {
          initChoices(selectAttendeesInputEl);
          initEventListeners(selectAttendeesInputEl);
        }

        initCalendar();
      });
    })();
</script>
{% endblock javascripts %}
