{% extends "layouts/base-fullscreen.html" %}

{% block title %} Page 403 {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

   <section class="vh-100 d-flex align-items-center justify-content-center">
      <div class="container">
            <div class="row">
               <div class="col-12 text-center d-flex align-items-center justify-content-center">
                  <div>
                        <img class="img-fluid w-75" src="{{ config.ASSETS_ROOT }}/img/illustrations/404.svg" alt="404 not found">
                        <h1 class="mt-5">{{ _('Access')}} <span class="font-weight-bolder text-primary">{{ _('Denied') }}</span></h1>
                        <p class="lead my-4">
                        {{ _('Please contact support or authenticate with another account.') }}
                        </p>
                        <a class="btn btn-primary animate-hover" href="{{ url_for('authentication_blueprint.login')}}">
                        <i class="fas fa-chevron-left mr-3 pl-2 animate-left-3"></i>{{ _('Sign In')}}</a>
                  </div>
               </div>
            </div>
      </div>
   </section>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
