{% extends "layouts/base-fullscreen.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Element CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="container-sm mt-5">
    <div class="mb-5 text-center">
        {% if data.qrcode.picture %}
        <img class="avatar-xxl rounded" src="{{ url_for('home_blueprint.image', filename=data.qrcode.picture)}}">
        {% endif %}
    </div>
    <div class="mb-4">
        <h4 class="h3">{{ data.qrcode.name | translate | capitalize }}</h4>
        <p>{{ data.qrcode.description | translate | capitalize }}</p>
    </div>
    <div class="row">
        {% for element in data.qrcode.elements | sort(attribute='order') %}
        {% with mode='display' %}
        {% include 'home/elements/element_' ~ element.type ~ '.html' %}
        {% endwith %}
        {% endfor %}
    </div>
</div>
{% endblock content %}

{% block javascripts %}
<script>
    // Get Current location and send it back to flask
    const options = {
      enableHighAccuracy: true,
      timeout: {{ config.GEOLOCATION_TIMEOUT * 1000 }},
      maximumAge: {{ config.GEOLOCATION_MAX_AGE }},
    };
    {% if data.qrcode.geolocate %}
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(
                position => {
                  const lat = position.coords.latitude;
                  const lng = position.coords.longitude;
                  const acc = position.coords.accuracy;

                  const locationData = {
                    latitude: lat,
                    longitude: lng,
                    accuracy: acc,
                    error: null
                  };
                  saveLocation(locationData);
                },
                error => {
                  const locationData = {
                    latitude: null,
                    longitude: null,
                    accuracy: null,
                    error: error.code
                  };
                  saveLocation(locationData);
                }
            );
        } else {
            const locationData = {
                latitude: null,
                longitude: null,
                address: null,
                accuracy: null,
                error: "{{ _('Geolocation is not supported by the browser.') }}"
            };
            saveLocation(locationData);
        }

        function saveLocation(locationData) {
            fetch('{{ url_for('home_blueprint.scan_update', scan_id=data.scan.id) }}', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify(locationData)
            })
            .then(response => response.json())
            .then(data => console.log(data))
            .catch(error => console.error(error));
        }
    {% endif %}

</script>
{% endblock javascripts %}